/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Variáveis */
:root {
    --cor-primaria-marrom: #733E35;
    --cor-secundaria-preta: #000000; 
    --cor-terciaria-branca: #DED6D6;
    --cor-background:  #edeaea;
    --cor-fonte-titulos-texto1: #542E28;
    --cor-fonte-titulos2: #181818;
    --cor-fonte-texto1: #3A1919;
    --cor-fonte-hover: rgba(84, 46, 40, 0.49);
    --cor-fonte-botoes: #F6F6F6;
    --poppins-font: "Poppins", sans-serif;
    --Montserrat-font: "Montserrat", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--cor-background);
}
/*-------------------------------Sobre - Beatriz----------------------------------*/

.sobre_part1{
    height: 85vh;
    display: flex;
    align-items: flex-end;
    background-image:url(/img/zyro-image1.png);
    background-repeat:no-repeat;
    background-size: 25vw 100vh;
}

.sobre_texts{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    padding-left: 100px;
    h1{
        color: var(--cor-primaria-marrom);
        font-size: 2.3em;
        font-family: var(--poppins-font);
    }
    p{
        font-family: var(--poppins-font);
        color: var(--cor-primaria-marrom);
        text-align: center;
        font-size: 1em;
        width: 60%;
        margin-top: 25px;
    }
}
.sobre_part2{
    height: 600px;
    margin-top: 15vh;
    display: flex;
    justify-content: center;
    background-image: url(/img/xicara-de-cha-placer-de-cha-de-frutas-secas-removebg-preview-1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 25vw 115vh;
    background-position-y: top;
}
.sobre_texts2{
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}
.sobre_texts2 div{
    display: flex;
    height: 300px;
    width: auto;
    margin-right: 4%;
}
.box-text1{
    display: flex;
    flex-direction: column;
    font-family: var(--poppins-font);

    h2{
        text-align: end;
        color: var(--cor-fonte-titulos-texto1);
        font-size: 2em;
        margin-bottom: 20px;
    }
    h3{
        text-align: end;
        color: var(--cor-fonte-titulos-texto1);
        font-size: 1.5em;
        margin-bottom: 20px;
    }
    p{
        text-align: end;
        color: var(--cor-fonte-titulos-texto1);
        font-size: 0.9em;
        width: 22vw;
        margin-bottom: 20px;
    }
}

.box-text2{
    display: flex;
    flex-direction: column;
    font-family: var(--poppins-font);
    background-color: transparent;
    h2{
        text-align: start;
        font-size: 2em;
        color: var(--cor-fonte-titulos-texto1);
        margin-bottom: 20px;
        background-color: transparent;
    }
    h3{
        text-align: start;
        color: var(--cor-fonte-titulos-texto1);
        font-size: 1.5em;
        margin-bottom: 20px;
        background-color: transparent;
    }
    p{
        text-align: start;
        color: var(--cor-fonte-titulos-texto1);
        font-size: 0.9em;
        width: 15vw;
        margin-bottom: 20px;
        background-color: transparent;
    }
}
.sobre_part3{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.equipe{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 45vw;
    justify-content: space-between;
    margin-top: 35px;
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px
    }
    img{
        width: 11vw;
        height: 30vh;
    }
    p{
        font-size: 0.8em;
        font-family:var(--poppins-font);
        text-align: center;
        width: 14vw;
        font-weight: bold;
    }
}
.sobre_texts3{
    display: flex;
    flex-direction: column;
    h2{
        font-family: var(--poppins-font);
        color: var(--cor-primaria-marrom);
        font-size: 3em;
        text-align: center;
    }
    p{
        font-family: var(--poppins-font);
        color: var(--cor-fonte-texto1);
        font-size: 0.9em;
        width: 45vw;
        text-align: center;
        margin-top: 25px;
    }
}
/*----------------------------- Footer - Pamela -------------------------------------*/
footer {
    background-color: #261E1B;
    width: 100%;
    padding: 20px;
    height: 270px;
    overflow: hidden;
    border-radius: 25px 25px 0px 0px;
    margin-top: 260px;
    position: relative; /* Adicionando posicionamento relativo */
}

.footer-content {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

footer * {
    background-color: transparent;
}

footer h3 {
    font-family: var(--Montserrat-font);
    font-size: 17px;
    color: var(--cor-fonte-botoes);
    margin-left: 10px;
}

footer p {
    font-family: var(--Montserrat-font);
    font-weight: 400;
    color: var(--cor-terciaria-branca);
    padding: 10px;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer li {
    font-family: var(--Montserrat-font);
    font-weight: 300;
    color: var(--cor-terciaria-branca);
    margin-bottom: 10px;
}

footer a {
    text-decoration: none;
    color: inherit;
    padding: 5px;
}

footer p a {
    display: inline-block; 
    margin: -0.9px;
}

footer img {
    width: 24px;
    height: 24px;
    margin-top: 10px;
}

.icones_footer {
    display: flex;
    justify-content: space-between;
}

.copy_footer {
    text-align: center;
    padding-top: 8px;
    margin-top: 30px;
    background-color: #6D5854;
    width: 100%; 
    position: absolute;
    bottom: 0; 
    left: 0; 
    height: 60px;
}



/* ---- RODRIGO MENU ---- */

.div_fundo{
    width: 100%;
    height: 150px;
    margin: auto;
}

/*----- DIV -----*/

.div_logo{
    position: relative;
    width: 280px;
    height: 150px;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}
.div1 img{
    position: relative;
    width: 150px;
    height: 150px;
}

/*----- NAV -----*/

.nav1{
    position: relative;
    width: 52%;
    height: 150px;
    margin: auto;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-around;
    float: left;
}
.nav2{
    position: relative;
    width: 23.5%;
    height: 150px;
    margin: auto;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    float: right;
}
nav .a_menu{
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 23px;
    font-weight:600;
}
nav .botoes{
    margin: 50px 0px 0px 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    float: right;
    width: 5px;
    height: 50px;
}
nav .newsletter{
    color: white;
    padding: 10px 28px 45px 25px;
    margin: 45px 40px 10px 0px;
    width: 115px;
    height: 40px;
    border-radius: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    float: right;
    font-size: 25px;
    background-color: rgba(115, 62, 53, 1);
    font-weight: 645;
}


nav .a_menu:hover{
    color: rgba(84, 46, 40, 1);
    transition: all 0.5s;
    border-bottom: 5px solid rgba(84, 46, 40, 1);
    border-radius: 1px;
}

nav .newsletter:hover{
    color: rgb(151, 83, 72);
    background-color: rgba(246, 246, 246, 1);
    transition: 0.7s all;
}