section{
    background-color: antiquewhite;
    width: 100%;
    height: 700px;
    margin: auto;
}

/*----- HEADER -----*/

header{
    background-color: white;
    position: relative;
    width: 100%;
    height: 150px;
}

/*----- DIV -----*/

#div1{
    position: relative;
    width: 350px;
    height: 150px;
    background-color: aquamarine;
    float: left;
}

/*----- NAV -----*/

#nav1{
    background-color: white;
    position: relative;
    width: 52%;
    height: 150px;
    margin: auto;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    float: left;
}
#nav2{
    background-color: white;
    position: relative;
    width: 25%;
    height: 150px;
    margin: auto;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    float: right;
}
nav #a1{
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 23px;
    font-weight:600;
}
nav #botoes{
    margin: 50px 0px 0px 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    float: right;
    width: 10px;
    height: 50px;
}
nav #a3{
    color: white;
    padding: 10px 22px 10px 22px;
    margin: 45px 20px 0px 20px;
    width: 120px;
    height: 40px;
    border-radius: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    float: right;
    font-size: 25px;
    background-color: rgba(115, 62, 53, 1);
}


nav #a1:hover{
    color: rgba(61, 61, 61, 0.29);
    transition: 0.4s all;
    text-decoration: underline;
    text-decoration-color: brown;
}